@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #4239A8, #574BDB);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #2b256d;
    width: 482px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #3E3B5C;
    text-align: center;
    text-shadow: 1px 1px 2px #332c85;
}
h2 {
    color: #9790E1;
}
p {
    text-align: justify;
}